<div class="container">
    <img src="~/images/faleconosco1.jpg" alt="fale conosco"  />
    <div class="jumbotron">
        <h3>Queremos ouvir o que você tem a dizer</h3>
        <p>
            Se você tiver alguma dúvida ou sugestão fale conosco
        </p>
        <p>
            <span>
                <img src="~/images/correspondencia.png" alt="email" height="42" width="42"/>
            </span>
            <h5><email endereco="simer27@hotmail.com" conteudo="Enviar um e-mail" height="42" width="42"></email></h5>
            <br />
            <span>
                <img src="~/images/mobile-app.png" alt="phone" height="42" width="42" />
            </span>
            <h5>(11) 97331-3732</h5>
            <br />
            <span>
                <img src="~/images/house-24.ico" alt="endereço" height="42" width="42"/>
            </span>
            <h5>Rua Erva de São Martinho 147 - 08030-680 - São Paulo - SP.</h5>
        </p>
    </div>
</div>