@model HomeViewModel

<partial name="_Carrossel"/>
<hr />
<h2 class="text-center">Os preferidos da semana</h2>
<hr />
<div class="row">
    @foreach (var lanche in Model.LanchesPreferidos)
            {
                <partial name="_LanchesResumo" for="@lanche"/>
            }
</div>